@model WEB_Water.Data.Entities.Reading

@{
    ViewData["Title"] = "Details";
}

<h2>Details of reading:</h2>
<div>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Reader.ReaderName) 
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Reader.ReaderName)    
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.RegistrationDateNewReading)

                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.RegistrationDateNewReading)     
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Begin) 

                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Begin)     
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.End) 

                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.End)     
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ValueOfConsumption) 

                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ValueOfConsumption)    
                </dd>
            </dl>
        </div>
    </div>
</div>
<div>
    @if (Model.BillIssued == false)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    }
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>
