@model IEnumerable<WEB_Water.Data.Entities.Reader>

@{
    ViewData["Title"] = "Index";
}

<h1>List of readers:</h1>

@*<p>
    <a asp-action="Create">Register new reader</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReaderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Installation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.ReaderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Installation)
            </td>
            <td>
                
                <a asp-action="Edit" asp-route-id="@item.Id" title="Edit" class="btn btn-outline-primary far fa-edit"></a>
                <a asp-action="Details" asp-route-id="@item.Id" title="Details" class="btn btn-outline-success fas fa-info-circle"></a>
                <a asp-action="Delete" asp-route-id="@item.Id" title="Delete" class="btn btn-outline-danger fas fa-trash-alt"></a>
            </td>
        </tr>
}
    </tbody>
</table>
<br />
<br />
