@model IEnumerable<WEB_Water.Data.Entities.User>


@{ ViewData["Title"] = "Index"; }

<main id="main">
    <section class="inner-page">
        <div class="container">
            <h4>Bill summary</h4>
            <br /><br />
            <h2>Customers</h2>


            <hr />
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>

                                <a asp-action="BillSummary" asp-route-id="@item.Id" title="Bill Summary" class="btn btn-outline-primary fas fa-chart-line"></a>

                            </td>
                        </tr>}
                </tbody>
            </table>
        </div>
    </section>

</main>