@model WEB_Water.Data.Entities.Bill

@{ ViewData["Title"] = "Bill";
    Layout = null; }



<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Bill</title>
    <meta charset="utf-8">
    <style>
        table, th, td {
            border: 1px solid black;
            text-align:center;
        }
    </style>
</head>
<body>
    <div>
        @* Bill reference *@
        <h1>Bill #@Model.Id</h1>
        <p>
            Issued Date: @Model.BillDate<br />
            To pay before the end of the month
        </p>

        @* Generate pdf and it to customer *@

        <a asp-action="GenerateSendPDF" asp-controller="Bills" asp-route-id="@Model.User.Id" title="Generate PDF" class="btn btn-outline-warning fas fa-calculator"></a>


    </div>
    <div>

        <h2>Details of the customer: </h2>
        <table>
            <tr>
                <td style="width: 200px;"><h3>Name:</h3></td>
                <td style="width: 200px;"><h3>Email:</h3></td>
                <td style="width: 150px;"><h3>Telefone:</h3></td>
                <td style="width: 150px;"><h3>Address:</h3></td>
            </tr>
            <tr>
                <td>@Model.User.FullName</td>
                <td>@Model.User.Email</td>
                <td>@Model.User.PhoneNumber</td>
                <td>@Model.Reader.AddressName</td>
            </tr>

        </table>
        <br />
    </div>

    <div>
        <h2>Period of consumption:</h2>
        <table>
            <tr>
                <td style="width: 350px;"><h3>Start of period:</h3></td>
                <td style="width: 350px;"><h3>End of period:</h3></td>
            </tr>
            <tr>
                <td>@Model.Reading.Begin</td>
                <td>@Model.Reading.End</td>
            </tr>
            
        </table>
        <br />

    </div>


    <div>
        <h2>Consumption:</h2>
        <table>
            <tr>
                <td style="width: 110px;"><h3>Reader Name</h3></td>
                <td style="width: 200px;"><h3>Level of consume</h3></td>
                <td style="width: 300px;"><h3>Value of consumption in m³</h3></td>
                <td style="width: 90px;"><h3>Total</h3></td>
            </tr>

            <tr>
                <td><p>@Model.Reader.ReaderName</p></td>

                @if (Model.Reading.ValueOfConsume <= 5)
                {
                        <td style="width: 50px;"><p>1</p></td>
                }
                @if (Model.Reading.ValueOfConsume > 5 && Model.Reading.ValueOfConsume <= 15)
                {
                        <td style="width: 50px;"><p>2</p></td>
                }
                @if (Model.Reading.ValueOfConsume > 15 && Model.Reading.ValueOfConsume <= 25)
                {
                    <td class="tableitem" style="width: 50px;"><p class="itemtext">3</p></td>
                }
                @if (Model.Reading.ValueOfConsume > 25)
                {
                    <td class="tableitem"><p class="itemtext">4</p></td>
                }

                <td><p>@Model.Reading.ValueOfConsume</p></td>

                <td><p>@Model.ValueToPay €</p></td>
            </tr>

        </table>
        <br />
        
    </div><!--End Table-->
      
    <div>
        <h2>Way of payment: <strong>Multibanco</strong></h2>
        <table>
            <tr>
                <td style="width: 200px;"><h3>Entity:</h3></td>
                <td style="width: 300px;"><h3>Reference:</h3></td>
                <td style="width: 200px;"><h3>Total to pay:</h3></td>
            </tr>
            <tr>
                <td>1234</td>
                <td>111111111</td>
                <td> @Model.ValueToPay €</td>
            </tr>
        </table>

    </div>

</body>
</html>