@model IEnumerable<WEB_Water.Data.Entities.User>


@{ ViewData["Title"] = "Index"; }

<main id="main">
    <section class="inner-page">
        <div class="container">
    
            <br /><br />
            <h2>List of all the customers</h2>


            <hr />
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                     @foreach (var item in Model)
                     {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @if (this.User.IsInRole("Admin"))
                                {
                                    <a asp-controller="Readers" asp-action="Create" asp-route-id="@item.Id" title="Add Reader"><i class="fas fa-plus-circle"></i></a>

                                    <a asp-action="Edit" asp-route-id="@item.Id" title="Edit User" class="btn btn-outline-primary far fa-edit"></a>

                                    <a asp-action="ProfileUser" asp-route-id="@item.Id" title="Details" class="btn btn-outline-success fas fa-info-circle"></a>

                                    <a asp-action="Delete" asp-route-id="@item.Id" title="Delete" class="btn btn-outline-danger fas fa-trash-alt"></a>
                                }
                            </td>
                        </tr>
                     }
                </tbody>
            </table>
        </div>
    </section>

</main>