@model IEnumerable<WEB_Water.Data.Entities.User>


@{ ViewData["Title"] = "Index"; }

<main id="main">
    <section class="inner-page">
        <div class="container">

            <br />
            <h2>List of all the workers</h2>
            
            <h5>
            <a asp-action="Register">Register new worker</a>
            </h5>

            <hr />
            <table class="table" id="workersTable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @if (this.User.IsInRole("Admin"))
                                {
                                    <a asp-controller="Account" asp-action="Edit" asp-route-id="@item.Id" title="Editar" class="btn btn-outline-warning far fa-edit"></a>
                                }
                                <a asp-controller="Account" asp-action="ProfileUser" asp-route-id="@item.Id" title="Detalhes" class="btn btn-outline-success fas fa-info-circle"></a>

                                @if (this.User.IsInRole("Admin"))
                                {
                                    <a asp-action="Delete" asp-route-id="@item.Id" title="Apagar" class="btn btn-outline-danger fas fa-trash-alt"></a>}
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>

</main>